body {
  background-color: #F5F5F1;
  margin: 0;
  font-family: sans-serif;
}
header {
  background-color: white;
  height: 125px;
}
.top {
  height: 82px;
  border-bottom: 1px solid #E1E3DF;
}
.top-nav {
  padding-top: 12px;
  height: 30px;
  border-bottom: 1px solid #E1E3DF;
}
.top-nav a {
  text-decoration: none;
  color: #777777;
  font-weight: 300;
  font-size: 15px;
  margin: 20px 0 0 20px;
}
header input {
  display: inline-block;
  vertical-align: middle;
}
h4 {
  margin: 1.5% 0 1% 3%;
  font-weight: 600;
  font-family: serif;
}
.sidebar {
  width: 280px;
  //230 width for boxes inside
  float: left;
  height: 100vw;
}
.maindisplay {
  width: 80%;
  // max-width: 70%;
  float: left;
  height: 100vw;
}
.itemdisplay {
  display: inline-block;
  color: #464646;
  width: 22%;
  height: 17vw;
  background-color: white;
  overflow: hidden;
  margin: .9%;

  font-size: .8vw;
  text-decoration: none;

  border-radius: 2px;
  border: 1px solid #E1E3DF;
}
.itemdisplay img {
  object-fit: cover;
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.title {
  margin: .25vw 0 0 .5vw;
}
.maker {
  color: #9B9B9B;
  display: inline-block;
  margin: .5vw;
}
.cost {
  color: #7AC144;
  margin: .5vw;
  display: inline-block;
  float: right;
}
header img {
  margin-left: 40px;
  height: 60px;
  width: 90px;
}
